.section {
  margin: 0;
  padding: 0px 20px 0px 20px;
  width: 100%;
  max-height: 100vh;
}

.section.visioncalc {
  display: flex;
  position: relative;
  background-image:  url(/img/vision_calc.jpg); /* linear-gradient(to bottom, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0),  #54585a), */
  background-size: cover;
  background-repeat: no-repeat;
}

.section.visioncalc:after {
  padding-top: min(75%, 100vh);
  display: block;
  content: '';
}

.section.visioncalc > .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  filter: drop-shadow(.05em .05em orange);
  mix-blend-mode: difference;
  text-align: center;
  font-size: 15vw;
  margin-top: min(25%, 33vh);
}

.section.projects {
  display: flex;
  position: relative;
  background-image:  url(/img/projects.png); /* linear-gradient(to bottom, rgba(256, 256, 256, 0), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0), rgba(256, 256, 256, 0),  #54585a), */
  background-size: cover;
  background-repeat: no-repeat;
}

.section.projects:after {
  padding-top: min(75%, 100vh);
  display: block;
  content: '';
}

.section.projects > .content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  filter: drop-shadow(.05em .05em #d6001c);
  mix-blend-mode: screen;
  text-align: center;
  font-size: 15vw;
  margin-top: min(25%, 33vh);
}

.section.dark {
  /*display: flex;*/
  display: inline-block;
  position: relative;
  background-color: #54585a;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.section.dark > .content {
  color: white;
  text-align: center;
}

.section.light {
  display: flex;
  display: inline-block;
  position: relative;
  background-color: whitesmoke;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.section.light > .content {
  color: black;
  text-align: center;
}

.footer {
  
}