.topnav {
  overflow: hidden;
  background-color: #111;
  width: 75%; 
  top: 2vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 10px;
  position: fixed;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #111;
  color: #f2f2f2;
}

.topnav a.icon:hover {
  background-color: transparent;
  color: #f2f2f2;
}

.topnav a.active {
  background-color:#d6001c; /* #1F85DE; */
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 1000px) {
  .topnav {width: 90%}
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  /* .topnav.responsive {position: relative;} */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive a .right {
    left: 0;
    right: auto !important;
  }
}


/* The progress container (grey background) */
.progress-container {
  height: 8px;
  z-index: 1;
  position: fixed;
  width: 75%; 
  top: 2vh;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #d6001c;
  width: 0%;
  border-radius: 10px 10px 0px 0px;
}